.contact-card {
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    color: white;
    padding: 30px;
    border-radius: 0px;
    margin-top: 60px;
    height: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .divider {
    width: 50%;
    margin: 10px auto;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .social-icons a {
    transition: all 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    transform: scale(1.1);
  }
  