
.service-card {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    padding: 20px;
    
    transition: transform 0.3s ease-in-out;
  }
  
  .service-card:hover {
    transform: scale(1.05);
  }
  
  .contact-card {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: white;
  }
  